<div class="box">
  <h3 class="text-center">Manage rooms</h3>
  <button type="button" class="btn2 btn-secondary" (click)="goBack()">Back</button>
</div>

<div class="box">
  <h2 class="text-center mb-3">List of current rooms</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table custom-table table-bordered text-center mx-auto">
          <thead>
          <tr>
            <th>ID</th>
            <th>Door no.</th>
            <th>Room Type ID</th>
            <th>Name</th>
            <th>Cost/night</th>
            <th>Description</th>
            <th></th>
            <th>New door no.</th>
            <th>New Room Type</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let room of rooms">
            <td>{{ room.id }}</td>
            <td>{{ room.number }}</td>
            <td>{{ room.roomTypeId }}</td>
            <td>{{ room.name }}</td>
            <td>${{ room.cost}}</td>
            <td>{{ room.description}}</td>

            <td>
              <button type="button" class="btn1 btn-danger" (click)="removeRoom(room.id)">Delete</button>
            </td>

            <td>
              <input type="text" class="form-control" id="changed_number" name="changed_number" [(ngModel)]="changedRoomNumberToModify" required>
            </td>

            <td>
                <select class="form-control" id="selectedRoomType" name="selectedRoomType" [(ngModel)]="changedRoomTypeIdToModify" required>
                  <option *ngFor="let type of roomTypes" [value]="type.id">{{type.name}}</option>
                </select>
            </td>

            <td>
              <button type="button" class="btn1 btn-primary" (click)="modifyRoom(room.id)">Modify</button>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <button type="submit" class="btn btn-primary d-block mx-auto mt-3" (click)="sortByPrice()">Sort/unsort by room price</button>

  </div>
</div>

<!--<div class="box mt-5">
  <h2 class="text-center mb-3">Delete room</h2>
  <form (ngSubmit)="removeRoom()" #removeRoomForm="ngForm">
    <div class="form-group text-center">
      <label for="id" class="d-block mb-2">Insert ID</label>
      <input type="text" class="form-control d-block mx-auto" id="id" name="id" [(ngModel)]="chosenId" required>
    </div>
    <h2 class="warning-text">Warning! Operation cannot be reverted.</h2>
    <button type="submit" class="btn btn-primary d-block mx-auto mt-3">Remove</button>
  </form>
</div>-->

<div class="box mt-5">
  <h2 class="text-center mb-3">Add room</h2>
  <form (ngSubmit)="addRoom()" #addRoomForm="ngForm">

    <div class="form-group text-center">
      <label for="number" class="d-block mb-2">Insert door no.</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="number" name="number" [(ngModel)]="selectedRoomNumber" required>
    </div>

    <div class="form-group text-center">
      <label for="roomType" class="d-block mb-2">Room type</label>
      <select class="form-control d-inline-block mx-auto" id="roomType" name="roomType" [(ngModel)]="selectedRoomTypeId" required>
        <option *ngFor="let type of roomTypes" [value]="type.id">{{type.name}} - ${{type.cost}}</option>
      </select>
    </div>

    <button type="submit" class="btn2 btn-primary d-block mx-auto mt-3">Add</button>
  </form>
</div>


<!--<div class="box mt-5">
  <h2 class="text-center mb-3">Modify room</h2>
  <form (ngSubmit)="modifyRoom()" #modifyRoomForm="ngForm">
    <div class="form-group text-center">
      <label for="id" class="d-block mb-2">Insert ID</label>
      <input type="text" class="form-control d-block mx-auto" id="crtid" name="crtid" [(ngModel)]="selectedRoomId" (ngModelChange)="fetchRoomData()" required>
    </div>

    <div class="form-group text-center">
      <label for="number" class="d-block mb-2">Insert new door no.</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="changed_number" name="changed_number" [(ngModel)]="changedRoomNumberToModify" required>
    </div>

    <div class="form-group text-center">
      <label for="roomTypeId" class="d-block mb-2">Insert new room type ID</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="changed_roomTypeId" name="changed_roomTypeId" [(ngModel)]="changedRoomTypeIdToModify" required>
    </div>

    <h2 class="warning-text">Tip: you may create/update room types first if you want to modify pricing and others. See the Admin Dashboard.</h2>
    <button type="submit" class="btn btn-primary d-block mx-auto mt-3">Modify</button>
  </form>
</div>-->



