<div class="container">
  <h1 class="text-center mt-5 mb-4">Welcome back, {{ username }}!</h1>
  <h2 class="text-center mt-5 mb-4">Today is {{ date }}</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-4">

    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">View and manage all registered admins/employees.</p>
          <button class="btn btn-primary w-100" (click)="userActivity()">Users</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">View and manage all hotel rooms.</p>
          <button class="btn btn-primary w-100" (click)="roomActivity()">Rooms</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">View and manage all room types.</p>
          <button class="btn btn-primary w-100" (click)="roomTypeActivity()">Room Types</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">View and manage all past and current guests.</p>
          <button class="btn btn-primary w-100" (click)="guestActivity()">Hotel Guests</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">View and manage all bookings.</p>
          <button class="btn btn-primary w-100" (click)="bookingActivity()">Bookings</button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <p class="card-text">View and change own login credentials.</p>
          <button class="btn btn-primary w-100" (click)="credentialsActivity()">Change credentials</button>
        </div>
      </div>
    </div>

  </div>
</div>
