<div class="box">
  <h3 class="text-center">Manage room types</h3>
  <button type="button" class="btn2 btn-secondary" (click)="goBack()">Back</button>
</div>

<div class="box">
  <h2 class="text-center mb-3">List of current room types</h2>
  <div class="table-responsive">
    <table class="table custom-table table-bordered text-center mx-auto">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cost/night</th>
        <th>Description</th>
        <th></th>
        <th>New name</th>
        <th>New cost/night</th>
        <th>New description</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let roomType of roomTypes">
        <td>{{ roomType.id }}</td>
        <td>{{ roomType.name }}</td>
        <td>${{ roomType.cost}}</td>
        <td>{{ roomType.description}}</td>

        <td>
          <button type="button" class="btn1 btn-danger" (click)="removeRoomType(roomType.id)">Delete</button>
        </td>

        <td>
          <input type="text" class="form-control d-inline-block mx-auto" id="changed_name" name="changed_name" [(ngModel)]="changedRoomTypeNameToModify" required [ngClass]="{'border-danger': isInvalidChangedRoomTypeName}">
        </td>

        <td>
          <input type="text" class="form-control d-inline-block mx-auto" id="changed_cost" name="changed_cost" [(ngModel)]="changedRoomTypeCostToModify" required [ngClass]="{'border-danger': isInvalidChangedRoomTypeCost}">
        </td>

        <td>
          <input type="text" class="form-control d-inline-block mx-auto" id="changed_description" name="changed_description" [(ngModel)]="changedRoomTypeDescriptionToModify" required [ngClass]="{'border-danger': isInvalidChangedRoomTypeDescription}">
        </td>

        <td>
          <button type="button" class="btn1 btn-primary" (click)="modifyRoomType(roomType.id)">Modify</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="box mt-5">
  <h2 class="text-center mb-3">Add room type</h2>
  <form (ngSubmit)="addRoomType()" #addRoomTypeForm="ngForm">

    <div class="form-group text-center">
      <label for="name" class="d-block mb-2">Insert name</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="name" name="name" [(ngModel)]="selectedName" required [ngClass]="{'border-danger': isInvalidSelectedRoomTypeName}">
    </div>

    <div class="form-group text-center">
      <label for="cost" class="d-block mb-2">Insert cost ($)</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="cost" name="cost" [(ngModel)]="selectedCost" required [ngClass]="{'border-danger': isInvalidSelectedRoomTypeCost}">
    </div>

    <div class="form-group text-center">
      <label for="description" class="d-block mb-2">Insert description</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="description" name="description" [(ngModel)]="selectedDescription" required [ngClass]="{'border-danger': isInvalidSelectedRoomTypeDescription}">
    </div>


    <button type="submit" class="btn2 btn-primary d-block mx-auto mt-3">Add</button>
  </form>
</div>



