<h3 class="text-center">Manage room types</h3>

<div class="box">
  <h2 class="text-center mb-3">List of current room types</h2>
  <div class="table-responsive">
    <table class="table custom-table table-bordered text-center mx-auto">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cost/night</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let roomType of roomTypes">
        <td>{{ roomType.id }}</td>
        <td>{{ roomType.name }}</td>
        <td>${{ roomType.cost}}</td>
        <td>{{ roomType.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-secondary" (click)="goBack()">Back</button>
  </div>
</div>

<div class="box mt-5">
  <h2 class="text-center mb-3">Delete room type</h2>
  <form (ngSubmit)="removeRoomType()" #removeRoomTypeForm="ngForm">
    <div class="form-group text-center">
      <label for="id" class="d-block mb-2">Insert ID</label>
      <input type="text" class="form-control d-block mx-auto" id="id" name="id" [(ngModel)]="chosenId" required>
    </div>
    <h2 class="warning-text">Warning! Operation cannot be reverted.</h2>
    <button type="submit" class="btn btn-primary d-block mx-auto mt-3">Remove</button>
  </form>
</div>

<div class="box mt-5">
  <h2 class="text-center mb-3">Add room type</h2>
  <form (ngSubmit)="addRoomType()" #addRoomTypeForm="ngForm">

    <div class="form-group text-center">
      <label for="name" class="d-block mb-2">Insert name</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="name" name="name" [(ngModel)]="selectedName" required>
    </div>

    <div class="form-group text-center">
      <label for="cost" class="d-block mb-2">Insert cost ($)</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="cost" name="cost" [(ngModel)]="selectedCost" required>
    </div>

    <div class="form-group text-center">
      <label for="description" class="d-block mb-2">Insert description</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="description" name="description" [(ngModel)]="selectedDescription" required>
    </div>


    <button type="submit" class="btn btn-primary d-block mx-auto mt-3">Add</button>
  </form>
</div>

<div class="box mt-5">
  <h2 class="text-center mb-3">Modify room type</h2>
  <form (ngSubmit)="modifyRoomType()" #modifyRoomTypeForm="ngForm">
    <div class="form-group text-center">
      <label for="id" class="d-block mb-2">Insert ID</label>
      <input type="text" class="form-control d-block mx-auto" id="crtid" name="crtid" [(ngModel)]="selectedRoomTypeId" (ngModelChange)="fetchRoomTypeData()" required>
    </div>

    <div class="form-group text-center">
      <label for="changed_name" class="d-block mb-2">Insert new room type name</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="changed_name" name="changed_name" [(ngModel)]="changedRoomTypeNameToModify" required>
    </div>

    <div class="form-group text-center">
      <label for="changed_cost" class="d-block mb-2">Insert new room type cost/night</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="changed_cost" name="changed_cost" [(ngModel)]="changedRoomTypeCostToModify" required>
    </div>

    <div class="form-group text-center">
      <label for="changed_cost" class="d-block mb-2">Insert new room type description</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="changed_description" name="changed_description" [(ngModel)]="changedRoomTypeDescriptionToModify" required>
    </div>

    <h2 class="warning-text">Warning! Operation will affect all current rooms' pricing and others.</h2>
    <button type="submit" class="btn btn-primary d-block mx-auto mt-3">Modify</button>
  </form>
</div>


