<div class="box">
  <h3 class="text-center">Manage bookings</h3>
  <button type="button" class="btn2 btn-secondary" (click)="goBack()">Back</button>
</div>

<div class="box">
  <h2 class="text-center mb-3">List of current bookings</h2>
  <div class="table-responsive">
    <table class="table custom-table table-bordered text-center mx-auto">
      <thead>
      <tr>
        <th>ID</th>
        <th>Check-In Date</th>
        <th>Check-Out Date</th>
        <th>Total</th>
        <th>Is Paid</th>
        <th></th>
        <th>New Check-In</th>
        <th>New Check-Out</th>
        <th>New Total</th>
        <th>New Is Paid</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let booking of bookings">
        <td>{{ booking.id }}</td>
        <td>{{ booking.checkInDate }}</td>
        <td>{{ booking.checkOutDate }}</td>
        <td>${{ booking.total }}</td>
        <td>{{ booking.isPaid ? 'Yes' : 'No' }}</td>

        <td>
          <button type="button" class="btn1 btn-danger" (click)="removeBooking(booking.id)">Remove</button>
        </td>

        <td>
          <input type="text" class="form-control d-inline-block mx-auto" id="changedCheckInDate" name="changedCheckInDate" [(ngModel)]="changedCheckInDate" required placeholder="YYYY-MM-DD" [ngClass]="{'border-danger': isInvalidChangedCheckInDate}">
        </td>

        <td>
          <input type="text" class="form-control d-inline-block mx-auto" id="changedCheckOutDate" name="changedCheckOutDate" [(ngModel)]="changedCheckOutDate" required placeholder="YYYY-MM-DD" [ngClass]="{'border-danger': isInvalidChangedCheckOutDate}">
        </td>

        <td>
          <input type="text" class="form-control d-inline-block mx-auto" id="changedTotal" name="changedTotal" [(ngModel)]="changedTotal" required [ngClass]="{'border-danger': isInvalidChangedTotal}">
        </td>

        <td>
          <select class="form-control d-inline-block mx-auto" id="changedIsPaid" name="changedIsPaid" [(ngModel)]="changedIsPaid" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </td>

        <td>
          <button type="button" class="btn1 btn-primary" (click)="modifyBooking(booking.id)">Modify</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

  <button type="button" class="btn btn-secondary" (click)="filterUnpaid()">Filter/unfilter by unpaid</button>

</div>

<div class="box mt-5">
  <h2 class="text-center mb-3">Add booking</h2>
  <form (ngSubmit)="addBooking()" #addBookingForm="ngForm">

    <div class="form-group text-center">
      <label for="checkInDate" class="d-block mb-2">Insert check-in date</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="checkInDate" name="checkInDate" [(ngModel)]="selectedCheckInDate" required placeholder="YYYY-MM-DD" [ngClass]="{'border-danger': isInvalidSelectedCheckInDate}">
    </div>

    <div class="form-group text-center">
      <label for="checkOutDate" class="d-block mb-2">Insert check-out date</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="checkOutDate" name="checkOutDate" [(ngModel)]="selectedCheckOutDate" required placeholder="YYYY-MM-DD" [ngClass]="{'border-danger': isInvalidSelectedCheckOutDate}">
    </div>

    <div class="form-group text-center">
      <label for="total" class="d-block mb-2">Insert total ($)</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="total" name="total" [(ngModel)]="selectedTotal" required [ngClass]="{'border-danger': isInvalidSelectedTotal}">
    </div>

    <div class="form-group text-center">
      <label for="isPaid" class="d-block mb-2">Is Paid</label>
      <select class="form-control d-inline-block mx-auto" id="isPaid" name="isPaid" [(ngModel)]="selectedIsPaid" required>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>

    <button type="submit" class="btn2 btn-primary d-block mx-auto mt-3">Add</button>
  </form>
</div>



