
<div class="box">
  <h3 class="text-center">Change credentials</h3>
  <button type="button" class="btn2 btn-secondary" (click)="goBack()">Back</button>
</div>

<div class="box mt-5">
  <form (ngSubmit)="modifyCredentials()" #modifyCredentialsForm="ngForm">

    <div class="form-group text-center">
      <label for="changedUsername" class="d-block mb-2">Insert new username</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="changedUsername" name="changedUsername" [(ngModel)]="changedUsername" required>
    </div>

    <div class="form-group text-center">
      <label for="changedPassword" class="d-block mb-2">Insert new password</label>
      <input type="text" class="form-control d-inline-block mx-auto" id="changedPassword" name="changedPassword" [(ngModel)]="changedPassword" required>
    </div>

    <div class="adminOnly" *ngIf="isAdmin">
      <div class="form-group text-center">
        <label for="changedIsAdmin" class="d-block mb-2">Insert new priviledge type</label>
        <select class="form-control d-inline-block mx-auto" id="changedIsAdmin" name="changedIsAdmin" [(ngModel)]="changedIsAdmin" required>
          <option>Admin</option>
          <option>Regular user</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary d-block mx-auto mt-3">Save changes and log-out</button>

  </form>
</div>


